body, html {
    font-size: 16px;
}

.container.main {
    margin-top: 5.0em;
}
i.icon {
    font-size: 2em;
}

.img {
    width: 300px;
    height: 300px;
}

.thumb {
    width: 150px;
    height: 150px;
}